	    <div class="container theme-showcase" role="main">
	    	<div class="jumbotron">
	    		<h1>PennApps XIII Sponsor Portal</h1>
	    		<p>Welcome to the Sponsor Portal! Log in above with the credentials you've been given. If you haven't been given credentials, or you're having trouble, email <a href="mailto:sponsor@pennapps.com">sponsor@pennapps.com</a>.</p>
	    		<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
	    		<a href="//pennapps.com" class="btn btn-lg btn-primary">Learn More About PennApps</a>
	    	</div>
	    </div>